
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Orbitron");

*{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,body{
padding: 0;
margin: 0;
height: 100%;
font-family: 'Orbitron', sans-serif;
} 
.wrapper{
    margin: 0 auto;
    padding-top: 20%;
    line-height: 50px;
    width: 100%;
    height: 100%;
    text-align: center;
}
.front{
    font-size: 4.5rem;
    color: white;
    letter-spacing: 10px;
    font-weight: bold;
    text-align: center;
    text-shadow: 5px 5px skyblue;
}
.below{

    font-size: 1.3rem;
    color: white;
    letter-spacing: 5px;
}

.parallax{
    background:url('/imgs/bg.jpg');
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.dark-content
{
    height: 1000px;
    width: 100%;
    background-color: skyblue;
}